.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {transform: rotate(0deg);  }
  to {transform: rotate(360deg);  }
}

.Loading {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

/*button {
  padding: 20px;
  border: 2px solid blue;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
  background: #ADD8E6;
}*/

button {
  font-size: 20px;
  padding: 0.35em 1.2em;
  border: 2px solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: black;
  transition: all 0.2s;
  background: transparent;
}

button:hover{
  color: white;
  background: #ff6464;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
  border: 2px solid grey;
}
